.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins
flutter_app/flutter_app.iml
ios/Frameworks/
android/.gitignore
android/.gradle
android/gradle
android/local.properties
/.gitignore

build/app/intermediates/
build/app/outputs/
build/app.dill
build/ios/Debug-iphonesimulator/
build/app/intermediates
build/flutter_assets/kernel_blob.bin

build/ios/iphonesimulator
build/snapshot_blob.bin.d
build/snapshot_blob.bin.d.fingerprint
.gitignore
app/build.gradle
app/src/main/AndroidManifest.xml
app/src/main/java/com/
app/src/main/res/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
