# Created by .ignore support plugin (hsz.mobi)
### Dart template
# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

.idea/
build/app/generated/assets/
build/app/generated/res/
build/app/generated/source/aidl/
build/app/generated/source/apt/
build/app/generated/source/rs/
build/app/intermediates/check-manifest/
build/app/intermediates/incremental/mergeDebugResources/aapt-temp/
build/app/intermediates/incremental/mergeDebugResources/stripped.dir/
build/app/intermediates/incremental/processDebugResources/
build/app/intermediates/incremental/validateSigningDebug/
build/app/intermediates/jniLibs/
build/app/intermediates/lint/
build/app/intermediates/prebuild/
build/app/intermediates/res/symbol-table-with-package/
build/app/intermediates/rs/
build/app/intermediates/shaders/
build/app/intermediates/symbols/
build/app/tmp/compileDebugJavaWithJavac/
flutter_app/
ios/Frameworks/
